*{
	box-sizing: border-box;
}

body{
	background: limegreen;
	font-family: 'Libre Franklin', 'Helvetica Neue', 'Helvetica', sans-serif;
}

$txt-color: maroon;

h1{
	color: $txt-color;

}

.glyphicon{
	float: right;
}
